<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="once.customer.dao.CustomerDAO">
 
 	<!-- 회원 가입 -->
 	<insert id="join" parameterType="CustomerVO">
 		insert into customer(memeNo, id, password, name, telephone, orderPassword ) 
 		values (seq_customer_no.nextval, #{id}, #{password}, #{name}, #{telephone}, #{orderPassword} )
 	</insert>
 	
 	<!-- 로그인 -->
 	<select id="login" parameterType="CustomerVO" resultType="CustomerVO">
 		select id, password, rank, name, memNo, telephone, orderPassword, date_format(date, '%y-%m-%d') as date
 		  from customer
 		 where id = #{id} and password = #{password}
 	</select>
 	
 	<!-- customer 회원 목록 조회 -->
 	<sql id="selectAll">
 		select id, password, rank, name, memNo, telephone, orderPassword, date_format(date, '%y-%m-%d') as date
 		  from customer
 	</sql>
 	
 	<!-- 패스워드 체크 -->
 	<select id="checkPassword" resultType="int">
 		select count(*)
 		from Customer
 		where id = #{id} and password = #{password}
 	</select>
 	
 	<!-- 회원 정보 상세 -->
 	<select id="selectOneCustomer" resultType="CustomerVO" parameterType="String">
 		select id, password, name, telephone, orderPassword
 		from Customer
 		where id = #{id}
 	</select>
 	
 	<!-- 회원 정보 수정 -->
 	<update id="modifyCustomer" parameterType="java.util.Map">
 		update Customer
 		set password = #{password}, telephone = #{telephone}, orderPassword = #{orderPassword}
 		where id = #{id}
 	</update>
 	
  	<!-- 회원 탈퇴 -->	
 	<delete id="deleteCustomer" parameterType="java.util.Map">
 		delete from Customer
 		where id = #{id} and password = #{password}
 	</delete> 	
 	
</mapper>