<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
  		<typeAlias type="once.boardQA.vo.BoardQAVO" alias="BoardQAVO"/>
  		<typeAlias type="once.comment.vo.CommentVO" alias="CommentVO"/>
  		<typeAlias type="once.counter.vo.CounterVO" alias="CounterVO"/>
  		<typeAlias type="once.customer.vo.CustomerVO" alias="CustomerVO"/>
  		<typeAlias type="once.item.vo.ItemVO" alias="ItemVO"/>
  		<typeAlias type="once.item.vo.ItemImgVO" alias="ItemImgVO"/>
  		<typeAlias type="once.item.vo.ItemDetailVO" alias="ItemDetailVO"/>
  		<typeAlias type="once.like.vo.LikeItemVO" alias="LikeItemVO"/>
  		<typeAlias type="once.like.vo.LikeStoreVO" alias="LikeStoreVO"/>
  		<typeAlias type="once.manager.vo.ManagerVO" alias="ManagerVO"/>
  		<typeAlias type="once.notice.vo.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="once.order.vo.OrderVO" alias="OrderVO"/>
  		<typeAlias type="once.order.vo.OrderDetailVO" alias="OrderDetailVO"/>
  		<typeAlias type="once.pickupPlace.vo.PickupPlaceVO" alias="PickupPlaceVO"/>
  		<typeAlias type="once.store.vo.StoreVO" alias="StoreVO"/>
  		<typeAlias type="once.store.vo.StoreImgVO" alias="StoreImgVO"/>  		
  		<typeAlias type="once.tagSticker.vo.TagStickerVO" alias="TagStickerVO"/>
  		<typeAlias type="once.warehouse.vo.WarehouseVO" alias="WarehouseVO"/>
  		<typeAlias type="once.item.vo.ItemContentsVO" alias="ItemContentsVO"/>
  	</typeAliases>
</configuration>
